{% extends "layout.html" %}
{% block content %}

<link rel="stylesheet" href={{cdn_css | safe}} type="text/css">
<script type="text/javascript" src={{cdn_js | safe}}></script>
<div class="plot">
    <h1>Plotting with Bokeh</h1>
    <p>The below chart is the stock prices of Goolge from July 2017 to Jan 2018</p>
    <p>The green bars indicate closing prices were lower than the opening prices; <br></p>
    <p>The red bars indicate opening ones were higher than the closing ones.</p>
</div>
{{script1 | safe}}
{{div1 | safe}}
{% endblock %}
